{% extends "navbar.html" %} {% block title %} Decks | PTCG Deck and Collection Manager {% endblock %} {% block content %}
<!-- (A) SEARCH FORM -->
<div style="padding: 20px; margin: auto;">
  <p>Search Your Card Collection</p>
</div>
<form id="searchCollection" method="post" style="padding: 5px; margin-left: auto;">
  <input style="width: 350px" placeholder="Card Name(ex. Charmander, dialga)" type="text" name="search" required>
  <input type="submit" value="Search" name="search">
</form>

<div>
  {% if cards | length != 0 %}
  {% for cardID, name, largeImage, types in cards %}
  <!-- <ul class="list-group list-group-flush" id="notes">
  </ul> -->
  <!-- <div> -->
  <a>
    <div name={{cardID}} style="padding: 20px; margin: 50px;">
      <Label style="font-size: 50px;">{{name}}</Label>
      <br>
      {% for type in types %}
        <label for="pokemonTypes" style="font-size: 25px">{{type}}</label>
      {% endfor %}
      <br>
      <img src={{largeImage}} width="350px">
      <a href="delete/{{ cardID }}" class="btn btn-outline-danger btn-lg">Delete</a>
    </div>
  </a>
  <!-- </div> -->

  {% endfor %}
  {% endif %}
</div>
{% endblock %}