{% extends "navbar.html" %} {% block title %} Decks | PTCG Deck and Collection Manager {% endblock %} {% block content %}
<!-- (A) SEARCH FORM -->
<form method="post" style="padding: 20px; margin-left: auto;">
  <input type="text" name="search" required>
  <input type="submit" value="Search">
</form>

<div>
  {% if cards | length != 0 %}
  {% for name, largeImage, types in cards %}
  <!-- <ul class="list-group list-group-flush" id="notes">
  </ul> -->
  <!-- <div> -->
  <a>
    <div onclick="" name={{name}} style="padding: 20px; margin: 50px;">
      <Label style="font-size: 50px;">{{name}}</Label>
      <br>
      {% for type in types %}
        <label for="pokemonTypes" style="font-size: 25px">{{type}}</label>
      {% endfor %}
      <br>
      <img src={{largeImage}} width="350px">
    </div>
  </a>
  <!-- </div> -->

  {% endfor %}
  {% endif %}
</div>
{% endblock %}