{% extends "navbar.html" %} {% block title %} Decks | PTCG Deck and Collection Manager {% endblock %} {% block content %}
    <h1 align="center"></h1>
    <div style="width: 50%; margin: auto">
      {% for deckID, deckName in decks %}
      <!-- <ul class="list-group list-group-flush" id="notes">
      </ul> -->
      <a href="/{{username}}/{{deckName}}">
        <div style="padding: 20px; margin: 50px; background-color: aliceblue"
          <p style="font-size: 24px">deckID: {{deckID}}, deckName: {{deckName}}</p>
          <img src="/static/pkmncard_back.png">
        </div>
      </a>
      {% endfor %}
    </div>
    <Label for="deck-search-by-ID">Search for card by ID</Label>
    <input type="search" id="deck-search-by-ID" name="q">
    <button>Search</button>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br/>
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}