{% extends "navbar.html" %} {% block title %} Decks | PTCG Deck and Collection Manager {% endblock %} {% block content %}
    <h1 align="center"></h1>
    <div style="width: 50%; margin: auto">
      <!-- passing id makes it easy to pass-back id, which makes it easy to edit cards in some other file-->
      {% set num = namespace(value=0) %}
      {% for id, name, count, imageURL in cardInfo %}
        {% for i in range(count) %}
          {% set num.value = num.value + 1 %}
          <a href="{{url_for('decks.card_edit', deckID=deck.deckID, cardID=id)}}">
            <div style="padding: 20px; margin: 50px; background-color: aliceblue"
              <p style="font-size: 12px">{{id}}</p>
              <p style="font-size: 24px">{{name}}</p>
              <img src="{{imageURL}}" width="300px">
            </div>
          </a>
        {% endfor %}
      {% endfor %}
    </div>
    <Label for="deck-search-by-ID">Search for card by ID</Label>
    <input type="search" id="deck-search-by-ID" name="q">
    <button>Search</button>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br/>
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}