{% extends "navbar.html" %} {% block title %} Settings {% endblock %} {% block content%}

<form method="POST">
    <div class="settings" style="padding-top: 50px">
        {% if user.loadimages == True %} <Label for="q">Toggle loading of images: ON</Label>
            <input width="10px" type="checkbox" id = "q" name="toggle_loadimages" checked/>
        {% else %} <Label for="q">Toggle loading of images: OFF</Label>
            <input type="checkbox" id = "q" name="toggle_loadimages"/>
        {% endif %}
        <input type="submit" name="submit" value ="submit">
    </div>
</form>
{% endblock %}